@import url('https://fonts.googleapis.com/css2?family=Open+Sans:100,200,300,400,500,600,700|Khula:100,200,300,400,500,600,700');


/*---------------------------------------Heading and Navbar*/

.header {
 margin-left: 70px;
}

.display-4 {
 margin-left: 70px;
 margin-top: 5px;
}

.Headline {
 margin-left: 70px;
 margin-bottom: 15px;
}



/*---------------------------------------Hero Image and Text on imager*/

.hero-image {
 background: url("../images/ioannis.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 780px;
 width: fit-content;
 transition: all .5s ease-in-out;
 -moz-transition: all .5s ease-in-out;
 -webkit-transition: all .5s ease-in-out;
}

.bg-white {
opacity: 0.8;
height: 280px;
margin-top: 40%;
}

.storyteller-moto2 {
 font-size: 28px;
 text-align: center;
 margin-top: 5%;
}


/*---------------------------------------Projects */

.projects-title {
height: 280px;
text-align: center;
margin-top: 10px;
margin-bottom: 20px;
}

.bg-white3 {
margin-top: 80px;
margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    font-size: 24px;
}

/*---------------------------------------Project Section - IMAGES */

.veranda {
height: 240px;
width: 260px;
margin-top: 20px;
margin-bottom: 20px;
}

.soros {
height: 240px;
width: 320px;
margin-top: 20px;
margin-bottom: 20px;
}

.vittoria {
height: 240px;
width: 240px;
margin-top: 20px;
margin-bottom: 20px;
}



/*---------------------------------------Contact Form section */

.form-label {
    position: relative;
    margin-left: 50%;
    text-align: center;
}

 #inputEmail4, #fullname, #phone, #inputAddress {
    position: relative;
    margin-left: 25%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
 }

 .form-label-2 {
    position: relative;
    margin-left: 25%;    
}

 #TypeText {
position: relative;
margin-left: 11%;
margin-bottom: 10px;
text-align: center;
font-size: 20px;
}

.btn-primary-send {
    position: relative;
    margin-left: 25%;
}



/*---------------------------------------Footer */

#footer {
    background-color: #fff;
    color: #000;
    min-height: 120px;
    margin:20px;
    text-align: center;    
}



/*---------------------------------------About Me Page*/

.storyteller-moto3 {
margin-top: 20px;
text-align: center;
font-size: 24px;
padding-left: 10%;
padding-right: 10%;
}

.join_us {
margin: auto;
font-size: 30px;
text-align: center;
}



/*---------------------------------------Contact Page*/

.container2 {
    position: relative;
    text-align: center;
    font-size: 24px;
}


/*---------------------------------------Consultancy Page*/

.table-font-color {
    color: #fff;
}


/*---------------------------------------Social Links*/

.list-inline-item {

    font-size: xx-large;
}